*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.btn_toggle_nav{
   
    width:80px;
    height: 40px;
    background-image: url(imgs/pinkhamburger.png);
    background-repeat: no-repeat;
    background-size: 30%;
    background-position: center;
    cursor: pointer;
    visibility: visible;
    position: relative;
    right: 1rem;
    bottom:.7rem;
  
  
}
html,
body{
    background:#f5f3f3;
    width:100%;
    height: 100%;
    margin:0;
    padding:0;
    overflow-x: hidden;
    
}




.nav {
    visibility: hidden;
    text-decoration: none;
    color:#c88989;
    font-size: 1.3rem;
    font-family: crushed, Times New Roman, Times, serif;
    padding:.8rem;
    line-height: 2.5rem;
    
    
}

li a{
	padding-left: .5rem;
    text-decoration: none;
    color:#c88989;
}





.nav a:hover{
   cursor: pointer;
   
   
}

.nav ul li a:hover{
    color:#f5f3f3;
    background-color: #c88989;
    padding: .4rem;
    border-radius: .2rem;
   
}


/*header code*************************************************************/



.nav{
    float: left;
}



.nina_logo:hover{
    cursor: pointer;

}



.shop_logo{
   
   
    
    width: 1.2rem;
    height: 1.2rem;
   

}

.shop_logo:hover{
    transform: scale(1.2);
    cursor: pointer;

}

.shop_flex{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap:1.2rem;
    position: relative;
    top:1rem;
   
}


/*ToolTip section******************************************/
.tooltip{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}


 .tooltxt{
    visibility:hidden;
    width:3rem;
    color:#f5f3f3;
    background-color: #070b0d6f;
    text-align: center;
    padding:0.258rem;
    top:1.5rem;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    font-family: noto sans kr;
    font-size: 0.8rem;
}

.tooltip:hover .tooltxt{
    visibility: visible;
}

.tooltxt2{
    visibility:hidden;
    width:3.5rem;
    color:#f5f3f3;
    background-color: #070b0d6f;
    text-align: center;
    padding:0.258rem;
    top:1.5rem;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    font-family: noto sans kr;
    font-size: 0.8rem;
}

.tooltip:hover .tooltxt2{
    visibility: visible;
}

.tooltxt3{
    visibility:hidden;
    width:3rem;
    color:#f5f3f3;
    background-color: #070b0d6f;
    text-align: center;
    padding:0.258rem;
    top:1.5rem;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    font-family: noto sans kr;
    font-size: 0.8rem;
}

.tooltip:hover .tooltxt3{
    visibility: visible;
}

/*End ToolTip section*******************************************/



/*end header code**************************************************************************/

/*Form start code*/

.first_name{
    height: 25rem;
}



.contact_title{
    color:#c88989;
    font-size: 5rem;
    position: relative;
    top:-5rem;
    padding-top:8rem;
    padding-bottom: 6rem;
    text-align: center;
}




input[type=text], select{
    width:100%;
    display:inline-block;
    outline:none;
    
   
    
}

#fname{
    left: 5rem;
    position: relative;
    top:-8rem;
    border:2px solid #070b0d8e;
    margin-bottom: 1rem;
   
}

#lname{
    left:5rem;
    position: relative;
    top:-8rem;
    border:2px solid #070b0d8e;
    
}



#text_area{
    margin-top:5rem;
    left:5rem;
    box-sizing: border-box;
    border: 1px solid #070b0d6f;
    width: 20rem;
    resize: none;
    margin-bottom:5rem;
    position: relative;
    top:-10rem;
    outline:none;
    
    
}

#text_area:focus{
    border:3px solid #985657;
}


.submit_form_bttn{
    width:5rem;
    background-color: #c88989;
    color:#f5f3f3;
    padding:.5rem;
    border:none;
    border-radius: .5rem;
    cursor: pointer;
    position: relative;
    top:-14rem;
    font-size: 1rem;
    font-family: noto sans kr;
    left:5rem;
}

.submit_form_bttn:hover{
    
    background-color: #f5f3f3;
    color:#c88989;
    cursor: pointer;
    border:.1rem solid #c88989;
    
}



  #lname:focus{
    border:3px solid #985657;
    

  }

  #fname:focus{
    border:3px solid #985657;

  }

   


/*Form end code*/


/********FOOTER CODE************************/




.foot_flex{/*whole Footer*/
    display: grid;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   
}



footer{
    
    bottom: 0;
    left: 0;
    right: 0;
    height: auto;
    height: 30rem;
    background-color: #c88989;
    clear: both;
    bottom: 0;
    clear: both;
    position: relative;
    top:8rem;
}


/*
.flex_foot_icons{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap:1.6rem;
    position: relative;
    
}
*/
/*footer form start*/


.lorem_form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   
    
    
}

input[type=text]{
    width: 20rem;
    padding:6px ;
    display:inline-block;
    border-radius: .1rem;
    box-sizing: border-box;
    position: relative;
    margin-right: 4rem;
    top:1rem;
    border: none;
    
    
}

input[type=submit]{
    cursor: pointer;
    width:5rem;
    height: 1.6rem;
    border:none;
    border-radius: .240rem;
    background-color:#070b0d;
    color:#f5f3f3;
    position: relative;
    bottom:2.5rem;
    left:11rem;
    font-family: noto sans kr;
    font-size: 0.7rem;
    text-transform: uppercase;
    top:-0.6rem;

}


input[type=submit]:hover{
    background-color:#f5f3f3;
    color:#070b0d;

}


/*footer form end*/

.lorem{
    font-family: noto sans kr;
   
    color:#f5f3f3;
    line-height: 1rem;
    /*padding-left: 4rem;
    padding-right: 5rem;
    text-align: justify;
    max-width: 75rem;
    width:100%;*/
    
  
   
    
}

.second_menu_flex{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
  
  gap:2rem;
 
}

.second_menu_flex a{
    text-decoration: none;
}

.second_menu_flex p:hover{
    transform: scale(1.2);
}

.fa-brands{
    color:#070b0d;
}

.fa-brands:hover{
    transform: scale(1.2);
    cursor: pointer;
}



.second_menu_flex p{
    
    color:#f5f3f3;
    font-family: crushed;
    font-size: 1.4rem;
    text-transform: uppercase;
}


#copy_right{
    text-align: center;
    color:#f5f3f3;
    text-align: center;
    font-family: noto sans kr;
    position: relative;
    top:4rem;
    font-size: .7rem;
    right: 1rem;

}








 /***************Cell Phones*******************************************************************************************/
    


@media only screen  and (min-width:320px) and (max-width:768px) /*between 320 and 768*/ {
    

/*Header Code Start************************/

  
    
    
    
header{
    position: relative;
    top:0;
    width: auto;
    height: 6rem;
}



.header_grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 2.5rem;
  
}




.nav{
   position: relative;
   visibility: hidden;
   background-color:#f5f3f3c0;
   height: 18.5rem;
   width:8rem;
   float:left;
   z-index: 1;
  

   
    
}




.nina_logo{
    float: left;
    position: relative;
    top:.9rem;
    left: -.5rem;
    width: 10rem;
    
}




    .tooltip{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    
    
}
/*Header Code End****/


/*Main code Start*/

.found_grp_grid{
    display:flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap; 
}




.found_grp_grid{
    display:flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
    justify-content: center;
   
}




.found_txt h2 {
color:#070b0d;
font-size: 4.5rem;
font-family: crushed;
padding-top:5rem;
padding-bottom: 2rem;
text-align: center;



}

h2{
color:#070b0d;
font-size: 4.5rem;
font-family: crushed;
padding-top:5rem;
padding-bottom: 2rem;
text-align: center;
z-index: 0;
position: relative;


}





.found_img{
width: 12rem;
filter: drop-shadow(5px 2px 2px #c88989);
}

.found_grp_grid{
    display:flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap; 
    
}

.line{
display: block;
margin-left: auto;
margin-right: auto;
border-bottom: 2px solid #c88989;
width: 60vw;
padding-top:3rem;

}



.list_founders{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
flex-wrap: wrap;
gap:0.5rem;
top:8rem;
padding-bottom: 2rem;



}

.name{
color: #070b0d;
font-family: crushed;
font-size: 1.2rem;
letter-spacing: 0.100rem;
padding-top:1rem;
}

.title{
color: #070b0d;
font-family: noto sans kr;
font-size: 0.9rem;


}

.paragraph1{
display: flex;
flex-direction: column;
gap:1rem;
padding:2rem;
text-align: justify;
font-size: 0.9rem;
font-family: noto sans kr;
line-height: 1.5rem;
kerning: 1rem;
padding-top: 3rem;

}

.team_img{
display: block;
margin-left: auto;
margin-right: auto;
filter: drop-shadow(5px 2px 2px #c88989);

width: 80vw;
}

.quote{
padding-top:.5rem;
text-align: center;
padding:2rem;
font-family: noto sans kr;
font-size: 0.600rem;
line-height: 1rem;
letter-spacing: 0.123rem;
}

.fake_para2{
padding:2rem;
text-align: justify;
font-size: 0.9rem;
font-family: noto sans kr;
line-height: 1.5rem;
kerning: 1rem;
padding-top: 3rem;

}






/*Main Code End***/


   /********FOOTER CODE cell phones************************/

   .foot_flex {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-column-gap: 1rem;
    grid-row-gap: 24px;
    }




footer{
    
    bottom: 0;
    left: 0;
    right: 0;
    height: auto;
    height: 24rem;
    background-color: #c88989;
    clear: both;
    bottom: 0;
    clear: both;
    position: relative;
    top:8rem;
}



.flex_foot_icons{
   grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 1;
  

    
}

.flex_foot_icons{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap:1.6rem;
    position: relative;
    padding-top:2rem;
    padding-bottom:2rem;
   
    
}



/*footer form start*/


.lorem_form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.lorem_form{
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 4;

}

.lorem{/*Come back to this later****************/
   padding-top:1rem;
   padding-left: 5rem;
   padding-right:5rem;
   font-size:1.7vw;
   font-size:1vh;


}


.signup{
    color:#f5f3f3;
    font-family: crushed;
    font-size: 1.5rem;
    position: relative;
    top:.4rem;
    letter-spacing: 0.222;
    padding:1rem;
    text-align: center;
    grid-column-start:2 ;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end:2 ;
    
}



input[type=text]{
    width: 18rem;
    padding:6px ;
    display:inline-block;
    border-radius: .1rem;
    box-sizing: border-box;
    position: relative;
    right:.8rem;
    top:1rem;
    border: none;
    
    
}

input[type=submit]{
    cursor: pointer;
    width:5rem;
    height: 1.6rem;
    border:none;
    border-radius: .240rem;
    background-color:#070b0d;
    color:#f5f3f3;
    position: relative;
    bottom:2.5rem;
    left:9.5rem;
    font-family: noto sans kr;
    font-size: 0.7rem;
    text-transform: uppercase;
    top:-0.6rem;

}


input[type=submit]:hover{
    background-color:#f5f3f3;
    color:#070b0d;

}


/*footer form end*/

.lorem{
    font-family: noto sans kr;
  
    color:#f5f3f3;
    line-height: 1rem;
    width:100%;
    position: relative;
 
}



.second_menu_flex a{
    text-decoration: none;
}

.second_menu_flex p:hover{
    text-decoration: underline;
    color:#f5f3f3;
}

.fa-brands{
    color:#070b0d;
}

.fa-brands:hover{
    transform: scale(1.2);
    cursor: pointer;
}


.second_menu_flex p{
    
    color:#f5f3f3;
    font-family: crushed;
    font-size: 1.4rem;
    text-transform: uppercase;
    text-align: center;
}

.second_menu_flex{
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 5;
}


#copy_right{
    text-align: center;
    color:#f5f3f3;
    text-align: center;
    font-family: noto sans kr;
    position: relative;
    top:4rem;
    font-size: .7rem;
    right: 1rem;
}

#copy_right{
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 5;
}




/*Footer Code End Cell Phones */




}









/* Tablets**************************************************/
@media only screen and (min-width:768px) and (max-width:1024px) /*between 768 and 1024*/  {


    .nav{
        position:relative ;
        visibility: hidden;
        background-color:#f5f3f3c0;
        height: 18.5rem;
        width:8rem;
        float:left;
        z-index: 1 ;
    
       
     
        
         
     }


    .nina_logo{
        float: left;
        position: relative;
        top:.5rem;
        left:12rem;
        width: 10rem;
        
    }
    
    
    
    
        .tooltip{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
        left:12rem;
        
        
    }
    /*Header Code End****/
    
    
    /*Main code Start*/
    
    .found_grp_grid{
        display:flex;
        flex-direction: row;
        gap: 2rem;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap; 
    }
    
    
    .found_img{
    width:12.5rem;
    filter: drop-shadow(5px 2px 2px #c88989);
    
    }

    .found_grp_grid{
        display:flex;
        flex-direction: row;
        gap: 1rem;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap; 
        
        
    }
    
    
   
    
    
    
    .found_txt h2 {
    color:#070b0d;
    font-size: 4.5rem;
    font-family: crushed;
    padding-top:5rem;
    padding-bottom: 2rem;
    text-align: center;
    
   
    
    
    
    }
    
    h2{
    color:#070b0d;
    font-size: 4.5rem;
    font-family: crushed;
    padding-top:5rem;
    padding-bottom: 2rem;
    text-align: center;
    position: relative;
    z-index: 0;
    
    }
    
    
    
    
    
    
    .line{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 2px solid #c88989;
    width: 60vw;
    padding-top:3rem;
    
    }
    
    
    
    .list_founders{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap:0.5rem;
    top:8rem;
    padding-bottom: 2rem;
    
    
    
    }
    
    .name{
    color: #070b0d;
    font-family: crushed;
    font-size: 1.2rem;
    letter-spacing: 0.100rem;
    padding-top:1rem;
    }
    
    .title{
    color: #070b0d;
    font-family: noto sans kr;
    font-size: 0.9rem;
    
    
    }
    
    .paragraph1{
    display: flex;
    flex-direction: column;
    gap:1rem;
    padding:1rem;
    text-align: justify;
    font-size: 0.9rem;
    font-family: noto sans kr;
    line-height: 1.5rem;
    kerning: 1rem;
    padding-top: 3rem;
    
    }
    
    .team_img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    filter: drop-shadow(5px 2px 2px #c88989);
    
    width: 80vw;
    }
    
    .quote{
    padding-top:.5rem;
    text-align: center;
    padding:2rem;
    font-family: noto sans kr;
    font-size: 0.600rem;
    line-height: 1rem;
    letter-spacing: 0.123rem;
    }
    
    .fake_para2{
    padding:1rem;
    text-align: justify;
    font-size: 0.9rem;
    font-family: noto sans kr;
    line-height: 1.5rem;
    kerning: 1rem;
    padding-top: 3rem;
    
    }
    
    
    
    
    
    
    /*Main Code End***/
    
    /********FOOTER CODE************************/
    /*
    .foot_flex{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
       
    }
    */
    
    
    
    footer{
        
        bottom: 0;
        left: 0;
        right: 0;
        height: auto;
        height: 24rem;
        background-color: #c88989;
        clear: both;
        bottom: 0;
        clear: both;
        position: relative;
        top:8rem;
    }
    
    /*
    
    .flex_foot_icons{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap:1.6rem;
        position: relative;
        top:-2rem;
        
    }
    */
    /*footer form start*/
    
    
    .lorem_form{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
       
        
        
    }
    
    .signup{
        color:#f5f3f3;
        font-family: crushed;
        font-size: 2rem;
        position: relative;
        top:.4rem;
        letter-spacing: 0.222;
        padding:1rem;
        text-align: center;
        
    }
    
    input[type=text]{
        width: 20rem;
        padding:6px ;
        display:inline-block;
        border-radius: .1rem;
        box-sizing: border-box;
        position: relative;
        right:.8rem;
        top:1rem;
        border: none;
        font-size: 1rem;
        
        
    }
    
    input[type=submit]{
        cursor: pointer;
        width:5rem;
        height: 1.6rem;
        border:none;
        border-radius: .240rem;
        background-color:#070b0d;
        color:#f5f3f3;
        position: relative;
        bottom:2.5rem;
        left:10rem;
        font-family: noto sans kr;
        font-size: 0.9rem;
        text-transform: uppercase;
        top:-0.6rem;
    
    }
    
    
    input[type=submit]:hover{
        background-color:#f5f3f3;
        color:#070b0d;
    
    }
    
    
    /*footer form end*/
    
    .lorem{
        font-family: noto sans kr;
       
        color:#f5f3f3;
        line-height: 1rem;
        width:100%;
        position: relative;
        /*left:.2rem;
        padding:1rem;
        padding-right: 5rem;
        padding-left: 5rem;*/
       
        
        
        
      
       
        
    }
    
    
    
    .second_menu_flex a{
        text-decoration: none;
    }
    
    .second_menu_flex p:hover{
        text-decoration: underline;
        color:#f5f3f3;
    }
    
    .fa-brands{
        color:#070b0d;
    }
    
    .fa-brands:hover{
        transform: scale(1.2);
        cursor: pointer;
    }
    
    
    
    .second_menu_flex p{
        
        color:#f5f3f3;
        font-family: crushed;
        font-size: 1.4rem;
        text-transform: uppercase;
        text-align: center;
    }
    
    
    #copy_right{
        text-align: center;
        color:#f5f3f3;
        text-align: center;
        font-family: noto sans kr;
        position: relative;
        top:4rem;
        font-size: .7rem;
        right: 1rem;
    }
    
    
    
    
    
    
    
    
    












}

    

 /*

@media  (max-width:768px){

   
    
    
    /*header code*************************************************************
    
    
    
    
    
    
    header{
        position: relative;
        top:0;
        width: auto;
        height: 6rem;
    }



    .header_grid{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 2.5rem;
      
    }


    
    
    .nav{
       position: relative;
       visibility: hidden;
       background-color:#f5f3f3c0;
     
       height: 18.5rem;
       width:8rem;
       float:left;
       z-index: 1;
      
    
       
        
    }
    
   
    .nina_logo{
    
        position:relative;
        top:.7rem;
        width: 8rem;
        left:.4rem;
    
    }
    
    
    
    .shop_logo{
        width: 1.2rem;
        height: 1.2rem;
    }
    
    .shop_logo:hover{
        transform: scale(1.2);
        cursor: pointer;
    
    }
    
    .shop_flex{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap:1.2rem;
        position: relative;
        top:.6rem;
        
      
        
       
    }
    
    /*ToolTip section******************************************
    .tooltip{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
       
       
       
    
    }
     .tooltxt{
        visibility:hidden;
        width:3rem;
        color:#f5f3f3;
        background-color: #070b0d6f;
        text-align: center;
        padding:0.258rem;
        top:1.5rem;
        border-radius: 6px;
        position: absolute;
        z-index: 1;
        font-family: noto sans kr;
        font-size: 0.8rem;
    }
    
    .tooltip:hover .tooltxt{
        visibility: visible;
    }
    
    .tooltxt2{
        visibility:hidden;
        width:3.5rem;
        color:#f5f3f3;
        background-color: #070b0d6f;
        text-align: center;
        padding:0.258rem;
        top:1.5rem;
        
        border-radius: 6px;
        position: absolute;
        z-index: 1;
        font-family: noto sans kr;
        font-size: 0.8rem;
    }
    
    .tooltip:hover .tooltxt2{
        visibility: visible;
    }
    
    .tooltxt3{
        visibility:hidden;
        width:3rem;
        color:#f5f3f3;
        background-color: #070b0d6f;
        text-align: center;
        padding:0.258rem;
        top:1.5rem;
        border-radius: 6px;
        position: absolute;
        z-index: 1;
        font-family: noto sans kr;
        font-size: 0.8rem;
    }
    
    .tooltip:hover .tooltxt3{
        visibility: visible;
    }
    
    /*End ToolTip section*******************************************
    
    /*end header code**************************************************************************
    
    
    
    
    
    
    
    /*Search bar*****************************************************************************
    
    
    
    
    input[type=text]{
    
      width: 19rem;
      height: 1.630rem;
      background: #e1e6e1;
      position: relative;
      bottom:18rem;
      border-radius: 10rem;
      text-transform: uppercase;
      color:#070b0d89;
      border:1px solid#070b0d;
      font-family: 'Noto Sans KR, Franklin Gothic Medium, Arial Narrow', Arial, sans-serif;
   
      
        
    
        
    }
    
    .search_flex{
       position: relative;
       left:7rem;
       z-index: 0;
       top:3rem;
    
      
    }
    
    
    
    
    /*search bar end*/


    /****************New body stuff******************


    .found_grp_grid{
        display:flex;
        flex-direction: row;
        gap: 1rem;
        align-items: center;
        justify-content: center;
       
   
       
        
        
       
   
        
    }


   .found_txt h2 {
   color:#070b0d;
   font-size: 5rem;
   font-family: crushed;
   padding-top:5rem;
   padding-bottom: 2rem;
   text-align: center;
   z-index: 0;
 

   }

   h2{
    color:#070b0d;
   font-size: 5rem;
   font-family: crushed;
   padding-top:5rem;
   padding-bottom: 2rem;
   text-align: center;
   z-index: 0;

   }



   .found_img{
    width: 80%;
    height:80%;
    filter: drop-shadow(5px 2px 2px #c88989);
   

   }

   .line{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 2px solid #c88989;
    width: 60vw;
    padding-top:3rem;
   
   }

 

   .list_founders{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap:0.5rem;
    top:8rem;
    padding-bottom: 2rem;

    
   }

   .name{
    color: #070b0d;
    font-family: crushed;
    font-size: 1.2rem;
    letter-spacing: 0.100rem;
   }

   .title{
    color: #070b0d;
    font-family: noto sans kr;
    font-size: 0.9rem;
    

   }

   .paragraph1{
    display: flex;
    flex-direction: column;
    gap:1rem;
    padding:1rem;
    text-align: justify;
    font-size: 0.9rem;
    font-family: noto sans kr;
    line-height: 1.5rem;
    kerning: 1rem;
    padding-top: 3rem;

   }

   .team_img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    filter: drop-shadow(5px 2px 2px #c88989);

    width: 80vw;
   }

   .quote{
    padding-top:.5rem;
    text-align: center;
    padding:2rem;
    font-family: noto sans kr;
    font-size: 0.600rem;
    line-height: 1rem;
    letter-spacing: 0.123rem;
   }

   .fake_para2{
    padding:1rem;
    text-align: justify;
    font-size: 0.9rem;
    font-family: noto sans kr;
    line-height: 1.5rem;
    kerning: 1rem;
    padding-top: 3rem;

   }




    
/********FOOTER CODE************************

.foot_flex{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   
}




footer{
    
    bottom: 0;
    left: 0;
    right: 0;
    height: auto;
    height: 20rem;
    background-color: #c88989;
    clear: both;
    bottom: 0;
    clear: both;
    position: relative;
    top:8rem;
    
}



.flex_foot_icons{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap:1.6rem;
    position: relative;
    
}

/*footer form start


.lorem_form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   
    
    
}

.signup{
    color:#070b0d;
    font-family: crushed;
    font-size: 1.5rem;
    position: relative;
    top:2.5rem;
    letter-spacing: 0.222;
    margin-right: 5rem;
    
}

input[type=text]{
    width: 20rem;
    padding:6px ;
    display:inline-block;
    border-radius: .1rem;
    box-sizing: border-box;
    position: relative;
    margin-right: 4rem;
    top:1rem;
    border: none;
    
    
}

input[type=submit]{
    cursor: pointer;
    width:5rem;
    height: 1.6rem;
    border:none;
    border-radius: .240rem;
    background-color:#070b0d;
    color:#f5f3f3;
    position: relative;
    bottom:2.5rem;
    left:11rem;
    font-family: noto sans kr;
    font-size: 0.7rem;
    text-transform: uppercase;
    top:-0.6rem;

}


input[type=submit]:hover{
    background-color:#f5f3f3;
    color:#070b0d;

}


/*footer form end*

.lorem{
    font-family: noto sans kr;
    font-size: .7rem;
    color:#f5f3f3;
    line-height: 1rem;
    padding-left: 4rem;
    padding-right: 5rem;
    text-align: justify;
    max-width: 75rem;
    width:100%;
    
  
   
    
}

.second_menu_flex{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
  top:2rem;
  right: -1rem;
}

.second_menu_flex a{
    text-decoration: none;
}

.second_menu_flex p:hover{
    transform: scale(1.2);
}

.fa-brands{
    color:#070b0d;
}

.fa-brands:hover{
    transform: scale(1.2);
    cursor: pointer;
}



.second_menu_flex p{
    
    color:#f5f3f3;
    font-family: crushed;
    font-size: 1.4rem;
    text-transform: uppercase;
}


#copy_right{
    text-align: center;
    color:#f5f3f3;
    text-align: center;
    font-family: noto sans kr;
    position: relative;
    top:4rem;
    font-size: .7rem;
    right: 1rem;

}



*/
    