*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.btn_toggle_nav{
   
    width:80px;
    height: 40px;
    background-image: url(imgs/pinkhamburger.png);
    background-repeat: no-repeat;
    background-size: 30%;
    background-position: center;
    cursor: pointer;
    visibility: visible;
    z-index: 3;
    position: relative;
    right: 1rem;
  
}
html,
body{
    background:#f5f3f3;
    width:100%;
    height: 100%;
    margin:0;
    padding:0;
    overflow-x: hidden;
}

.nav ul a{
    position: relative;
    z-index: 2;
    
	
}

.nav {
    visibility: hidden;
    text-decoration: none;
    color:#c88989;
    font-size: 1.3rem;
    font-family: crushed, Times New Roman, Times, serif;
    padding:.8rem;
    line-height: 2.5rem;
    
    
}

li a{
	padding-left: 1rem;
    text-decoration: none;
    color:#c88989;
}





.nav a:hover{
   cursor: pointer;
   
   
}


.nav ul li a:hover{
    color:#f5f3f3;
    background-color: #c88989;
    padding: .4rem;
    border-radius: .2rem;
   
  
 


}







footer{
    
    bottom: 0;
    left: 0;
    right: 0;
    height: 20rem;
    background-color: #c88989;
    clear: both;
    position: absolute;
}







/*header code*************************************************************/

header{
	position: relative;
	top:0;
	width: auto;
    height: 6rem;
    
    margin-bottom: 2rem;
}


.nav{
   position: relative;
    visibility: hidden;
	background-color:#f5f3f3c0;
	z-index: 6;
	height: 20rem;
	width:10rem;
   
	
}

.nav{
    float: left;
}

.nina_logo{
    float: left;
    position: relative;
    top:.9rem;
    right: .5rem;
    width: 8rem;
}

.shop_logo{
    position: relative;
    top:1rem;
    left: 4rem;
    width: 1.2rem;
    height: 1.2rem;

}

.shop_logo:hover{
    transform: scale(1.2);
    cursor: pointer;

}

.shop_flex{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap:1.2rem;
    position: relative;
   
}

/*ToolTip section******************************************/
.tooltip{
    position: relative;
    display: inline-block;
   
   

}
 .tooltxt{
    visibility:hidden;
    width:3rem;
    color:#f5f3f3;
    background-color: #070b0d6f;
    text-align: center;
    padding:0.258rem;
    top:3rem;
    left:3.5rem;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    font-family: noto sans kr;
    font-size: 0.8rem;
}

.tooltip:hover .tooltxt{
    visibility: visible;
}

.tooltxt2{
    visibility:hidden;
    width:3.5rem;
    color:#f5f3f3;
    background-color: #070b0d6f;
    text-align: center;
    padding:0.258rem;
    top:3rem;
    left:3.5rem;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    font-family: noto sans kr;
    font-size: 0.8rem;
}

.tooltip:hover .tooltxt2{
    visibility: visible;
}

.tooltxt3{
    visibility:hidden;
    width:3rem;
    color:#f5f3f3;
    background-color: #070b0d6f;
    text-align: center;
    padding:0.258rem;
    top:3rem;
    left:3.5rem;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    font-family: noto sans kr;
    font-size: 0.8rem;
}

.tooltip:hover .tooltxt3{
    visibility: visible;
}

/*End ToolTip section*******************************************/

/*end header code**************************************************************************/







/*Search bar*****************************************************************************/
.search_flex input[type=text]{
    
    width: 15rem;
    height: 1.630rem;
    background:#e1e6e1;
    position: relative;
    bottom:18rem;
    border-radius: .123rem;
    text-transform: uppercase;
    color:#070b0d89;
    border:.0025rem solid#070b0d;
    font-family: 'Noto Sans KR, Franklin Gothic Medium, Arial Narrow', Arial, sans-serif;
    left: -2rem;
    background-image: url(/imgs/loupe\ 5.png);
    background-repeat: no-repeat;
 
    
      
  
      
  }
  
  .search_flex{
     display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: column;
     margin-top: 2rem;
     
  
    
  }



/*search bar end*/

.header{
    color:#c88989;
    font-family: crushed;
    font-size: 4rem;
    text-align: center;
    padding: 2rem;
    position: relative;
    z-index: 0;
    bottom:10rem;
}

/*form*****************************************************/

.form{
    position: absolute;
    z-index: 0;
    
   
}

label{
   position: relative;
   margin:1rem;
   bottom:8.5rem;
}

input[type=text], select{
    width:100%;
    display:inline-block;
    outline:none;
    
   
    
}

#fname{
    margin-left:1rem;
    position: relative;
    top:-8rem;
    border:2px solid #070b0d8e;
   
}

#lname{
    margin-left:1rem;
    position: relative;
    top:-8rem;
    border:2px solid #070b0d8e;
    
}

#text_area{
    margin-top:5rem;
    margin-left:1rem;
    box-sizing: border-box;
    border: 1px solid #070b0d6f;
    width: 20rem;
   
    resize: none;
    margin-bottom:5rem;
    position: relative;
    top:-10rem;
    outline:none;
    
}

#text_area:focus{
    border:3px solid #985657;
}


.submit_form_bttn{
    width:5rem;
    background-color: #c88989;
    color:#f5f3f3;
    padding:.5rem;
    margin:0.8rem;
    border:none;
    border-radius: .5rem;
    cursor: pointer;
    position: relative;
    top:-15rem;
    font-size: 1rem;
    font-family: noto sans kr;
    
    
}

.submit_form_bttn:hover{
    
    background-color: #f5f3f3;
    color:#c88989;
    cursor: pointer;
    border:.1rem solid #c88989;
    
}



  #lname:focus{
    border:3px solid #985657;
    

  }

  #fname:focus{
    border:3px solid #985657;

  }

   

    
   












/********FOOTER CODE************************/

.foot_flex{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   
}





.flex_foot_icons{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap:1.6rem;
    position: relative;
    
}

/*footer form start*/


.lorem_form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   
    
    
}

.signup{
    color:#070b0d;
    font-family: crushed;
    font-size: 1.5rem;
    position: relative;
    top:2.5rem;
    letter-spacing: 0.222;
    margin-right: 5rem;
    
}

input[type=text]{
    width: 20rem;
    padding:6px ;
    display:inline-block;
    border-radius: .1rem;
    box-sizing: border-box;
    position: relative;
    margin-right: 4rem;
    top:1rem;
    border: none;
    
    
}

input[type=submit]{
    cursor: pointer;
    width:5rem;
    height: 1.6rem;
    border:none;
    border-radius: .240rem;
    background-color:#070b0d;
    color:#f5f3f3;
    position: relative;
    bottom:2.5rem;
    left:11rem;
    font-family: noto sans kr;
    font-size: 0.7rem;
    text-transform: uppercase;
    top:-0.6rem;

}


input[type=submit]:hover{
    background-color:#f5f3f3;
    color:#070b0d;

}


/*footer form end*/

.lorem{
    font-family: noto sans kr;
    font-size: .7rem;
    color:#f5f3f3;
    line-height: 1rem;
    padding-left: 4rem;
    padding-right: 5rem;
    text-align: justify;
    max-width: 75rem;
    width:100%;
    
  
   
    
}

.second_menu_flex{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
  top:2rem;
  right: -1rem;
}

.second_menu_flex a{
    text-decoration: none;
}

.second_menu_flex p:hover{
    transform: scale(1.2);
}

.fa-brands{
    color:#070b0d;
}

.fa-brands:hover{
    transform: scale(1.2);
    cursor: pointer;
}



.second_menu_flex p{
    
    color:#f5f3f3;
    font-family: crushed;
    font-size: 1.4rem;
    text-transform: uppercase;
}


#copy_right{
    text-align: center;
    color:#f5f3f3;
    text-align: center;
    font-family: noto sans kr;
    position: relative;
    top:4rem;
    font-size: .7rem;
    right: 1rem;

}

/*Mobile*******************************************************************************************/

