*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.btn_toggle_nav{
   
    width:80px;
    height: 40px;
    background-image: url(imgs/pinkhamburger.png);
    background-repeat: no-repeat;
    background-size: 30%;
    background-position: center;
    cursor: pointer;
    visibility: visible;
    z-index: 3;
    position: relative;
    right: 1rem;
  
}

body{
    background:#f5f3f3;
    width:100%;
    height: 100%;
    margin:0;
    padding:0;
    overflow-x: hidden;
    
}

.nav ul a{
    position: relative;
    z-index: 2;
    
	
}

.nav {
    visibility: hidden;
    text-decoration: none;
    color:#c88989;
    font-size: 1.3rem;
    font-family: crushed, Times New Roman, Times, serif;
    padding:.8rem;
    line-height: 2.5rem;
    
    
}

li a{
	padding-left: .5rem;
    text-decoration: none;
    color:#c88989;
}





.nav a:hover{
   cursor: pointer;
   
   
}




footer{
    
    bottom: 0;
    left: 0;
    right: 0;
    height: 20rem;
    background-color: #c88989;
    clear: both;
    bottom: 0;
    clear: both;
    position: relative;
    top:8rem;
}










/*header code*************************************************************/







.nav{
    float: left;
}



.nina_logo:hover{
    cursor: pointer;

}



.shop_logo{
   
   
    
    width: 1.2rem;
    height: 1.2rem;
   

}

.shop_logo:hover{
    transform: scale(1.2);
    cursor: pointer;

}

.shop_flex{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap:1.2rem;
    position: relative;
    top:1rem;
   
}


/*ToolTip section******************************************/
.tooltip{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}


 .tooltxt{
    visibility:hidden;
    width:3rem;
    color:#f5f3f3;
    background-color: #070b0d6f;
    text-align: center;
    padding:0.258rem;
    top:1.5rem;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    font-family: noto sans kr;
    font-size: 0.8rem;
}

.tooltip:hover .tooltxt{
    visibility: visible;
}

.tooltxt2{
    visibility:hidden;
    width:3.5rem;
    color:#f5f3f3;
    background-color: #070b0d6f;
    text-align: center;
    padding:0.258rem;
    top:1.5rem;
    
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    font-family: noto sans kr;
    font-size: 0.8rem;
}

.tooltip:hover .tooltxt2{
    visibility: visible;
}

.tooltxt3{
    visibility:hidden;
    width:3rem;
    color:#f5f3f3;
    background-color: #070b0d6f;
    text-align: center;
    padding:0.258rem;
    top:1.5rem;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    font-family: noto sans kr;
    font-size: 0.8rem;
}

.tooltip:hover .tooltxt3{
    visibility: visible;
}

/*End ToolTip section*******************************************/



/*end header code**************************************************************************/







/*Search bar*****************************************************************************/

input[type=text]{
    
    width: 19rem;
    height: 1.630rem;
    background: #e1e6e1;
    position: relative;
    bottom:18rem;
    border-radius: 10rem;
    text-transform: uppercase;
    color:#070b0d89;
    border:1px solid#070b0d;
    font-family: 'Noto Sans KR, Franklin Gothic Medium, Arial Narrow', Arial, sans-serif;
 
    
      
  
      
  }
  
  .search_flex{
     position: relative;
     left:7rem;
     z-index: 0;
     bottom:15rem;
   
  
    
  }
  








*/


/*search bar end*/

/*Banner code start******************************************/

.flex_this{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    gap:.5rem;


}


.home_banner{
   
    background-image: url(imgs/homepageimg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat:no-repeat;
    width: 100%;
    height:35vh;
    position: relative;
    top:4rem;
    z-index:5;
 

}


.home_banner_txt1,.home_banner_txt2{
    color:#fdfbfb;
    font-family: crushed, Times New Roman, Times, serif;
    font-size: 7vw;
    filter: drop-shadow(2px 5px 8px #070b0d);
    position: relative;
    top:10rem;
    letter-spacing: 0.1rem;
    right:5rem;
  
    
}



.home_banner_txt2{
    position: relative;
    right:2rem;
   
  
}


.home_banner_bttn{
    cursor: pointer;
    border:none;
    width: 18vw;
    height:4vh;
    border-radius: 1rem;
    background: #c88989;
    color:#fdfbfb;
    position: relative;
    top:12rem;
    left: 14rem;
    font-size:3vw;
    font-family: crushed;
    z-index: 1;
   
    
}



.home_banner_bttn:hover{
    color:#c88989;
    background: #fdfbfb;
}

.season_txt{
    text-align: center;
    color:#f5f3f3;
    font-size: 2.8rem;
    font-family: crushed;
    position: relative;
    bottom:13rem;
    letter-spacing: 0.2rem;
    filter: drop-shadow(2px 2px 2px #070b0d);
}
 






/*Banner code end********************************************/


.shop_article{
    display: block;
    margin-left: auto;
    margin-right:auto;   
    width:27rem;
    height:4rem;
    background: #fdfbfb;
    border:0.123rem solid #985657;
    position: relative;
    top:7rem;
    filter: drop-shadow(1px 3px 2px #070b0d6f);

}

.shop_article p{
    text-align: center;
    position: relative;
    top:.5rem;
    font-family: crushed;
    font-size: 2.5rem;
    color: #985657;
    text-transform: uppercase;
}

/*Seasons Images************************************************/

.season_img_flex{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    gap:4rem;
  
    position: relative;
    top:10rem;
    padding-bottom: 5rem;
    
  
}

a{
    text-decoration: none;
    width:8rem;
    height:1rem;
}


.img_season{
    cursor: pointer;
    width: 12rem;
    height: 20rem;
    filter: drop-shadow(2px 2px 2px #070b0d);
}

.season1{
    height: 20.6rem;
}

.season_txt{
    cursor:pointer;
}





.season1:hover{
 
   filter: drop-shadow(2px 2px 2px #070b0d);
   transition: 150ms;
   
   
}








/*Seasons Images end********************************************/



/********FOOTER CODE************************/

.foot_flex{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   
}




footer{
    
    bottom: 0;
    left: 0;
    right: 0;
    height: auto;
    height: 20rem;
    background-color: #c88989;
    clear: both;
    bottom: 0;
    clear: both;
    position: relative;
    top:8rem;
}



.flex_foot_icons{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap:1.6rem;
    position: relative;
    
}

/*footer form start*/


.lorem_form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   
    
    
}
/*

.signup{
    color:#070b0d;
    font-family: crushed;
    font-size: 1.5rem;
    position: relative;
    top:2.5rem;
    letter-spacing: 0.222;
    margin-right: 5rem;
    
}
*/
input[type=text]{
    width: 20rem;
    padding:6px ;
    display:inline-block;
    border-radius: .1rem;
    box-sizing: border-box;
    position: relative;
    margin-right: 4rem;
    top:1rem;
    border: none;
    
    
}

input[type=submit]{
    cursor: pointer;
    width:5rem;
    height: 1.6rem;
    border:none;
    border-radius: .240rem;
    background-color:#070b0d;
    color:#f5f3f3;
    position: relative;
    bottom:2.5rem;
    left:11rem;
    font-family: noto sans kr;
    font-size: 0.7rem;
    text-transform: uppercase;
    top:-0.6rem;

}


input[type=submit]:hover{
    background-color:#f5f3f3;
    color:#070b0d;

}


/*footer form end*/

.lorem{
    font-family: noto sans kr;
    font-size: .7rem;
    color:#f5f3f3;
    line-height: 1rem;
    padding-left: 4rem;
    padding-right: 5rem;
    text-align: justify;
    max-width: 75rem;
    width:100%;
    
  
   
    
}

.second_menu_flex{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
  top:2rem;
 
}

.second_menu_flex a{
    text-decoration: none;
}

.second_menu_flex p:hover{
    transform: scale(1.2);
}

.fa-brands{
    color:#070b0d;
}

.fa-brands:hover{
    transform: scale(1.2);
    cursor: pointer;
}



.second_menu_flex p{
    
    color:#f5f3f3;
    font-family: crushed;
    font-size: 1.4rem;
    text-transform: uppercase;
}


#copy_right{
    text-align: center;
    color:#f5f3f3;
    text-align: center;
    font-family: noto sans kr;
    position: relative;
    top:4rem;
    font-size: .7rem;
    right: 1rem;

}

/*Cell phones******************************/

@media only screen  and (min-width:320px) and (max-width:768px) /*between 320 and 768*/ {

    
header{
	position: relative;
	top:0;
	width: auto;
    height: 6rem;
}


.nav{
   position: relative;
    visibility: hidden;
	background-color:#f5f3f3c0;
	z-index: 6;
	height: 20rem;
	width:10rem;
   
	
}

.nav ul li a:hover{
    color:#f5f3f3;
    background-color: #c88989;
    padding: .4rem;
    border-radius: .2rem;
}
   
   
   
   
   
   
   


.nina_logo{
    float: left;
    position: relative;
    top:.9rem;
    left: -2rem;
    width: 8rem;
    
}




    .tooltip{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    
    
}



    
/*Banner code start******************************************/

.flex_this{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    gap:.5rem;


}


.home_banner{
   
    background-image: url(imgs/homepageimg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat:no-repeat;
    width: 100%;
    height:35vh;
    position: relative;
    top:4rem;
    z-index:5;
 

}


.home_banner_txt1,.home_banner_txt2{
    color:#fdfbfb;
    font-family: crushed, Times New Roman, Times, serif;
    font-size: 7vw;
    filter: drop-shadow(2px 5px 8px #070b0d);
    position: relative;
    top:8rem;
    letter-spacing: 0.1rem;
    right:5rem;
    white-space: nowrap;
  
    
}



.home_banner_txt2{
    position: relative;
    right:2rem;
   
  
}


.home_banner_bttn{
    cursor: pointer;
    border:none;
    width: 25vw;
    height:3vh;
    border-radius: 1rem;
    background: #c88989;
    color:#fdfbfb;
    position: relative;
    top:10rem;
    left: 3rem;
    font-size:3vw;
    font-family: crushed;
    z-index: 1;
   
    
}



.home_banner_bttn:hover{
    color:#c88989;
    background: #fdfbfb;
}

.season_txt{
    text-align: center;
    color:#f5f3f3;
    font-size: 2.8rem;
    font-family: crushed;
    position: relative;
    bottom:13rem;
    letter-spacing: 0.2rem;
    filter: drop-shadow(2px 2px 2px #070b0d);
}
 






/*Banner code end********************************************/

.shop_article{
   
    width:25rem;
    height:4rem;
    background: #fdfbfb;
    border:0.123rem solid #985657;
    position: relative;
    top:7rem;
    filter: drop-shadow(1px 3px 2px #070b0d6f);

}

.shop_article_div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center ;
}

.season_sale{
    width:28rem;
    filter: drop-shadow(1px 3px 2px #070b0d6f);
}


/********FOOTER CODE************************/

.foot_flex{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   
}




footer{
    
    bottom: 0;
    left: 0;
    right: 0;
    height: auto;
    height: 24rem;
    background-color: #c88989;
    clear: both;
    bottom: 0;
    clear: both;
    position: relative;
    top:8rem;
}



.flex_foot_icons{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap:1.6rem;
    position: relative;
    top:-2rem;
    
}

/*footer form start*/


.lorem_form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   
    
    
}

.signup{
    color:#f5f3f3;
    font-family: crushed;
    font-size: 1.5rem;
    position: relative;
    top:.4rem;
    letter-spacing: 0.222;
    padding:1rem;
    text-align: center;
    
}

input[type=text]{
    width: 18rem;
    padding:6px ;
    display:inline-block;
    border-radius: .1rem;
    box-sizing: border-box;
    position: relative;
    right:.8rem;
    top:1rem;
    border: none;
    
    
}

input[type=submit]{
    cursor: pointer;
    width:5rem;
    height: 1.6rem;
    border:none;
    border-radius: .240rem;
    background-color:#070b0d;
    color:#f5f3f3;
    position: relative;
    bottom:2.5rem;
    left:9.5rem;
    font-family: noto sans kr;
    font-size: 0.7rem;
    text-transform: uppercase;
    top:-0.6rem;

}


input[type=submit]:hover{
    background-color:#f5f3f3;
    color:#070b0d;

}


/*footer form end*/

.lorem{
    font-family: noto sans kr;
    font-size: .7rem;
    color:#f5f3f3;
    line-height: 1rem;
    width:100%;
    position: relative;
    left:.2rem;
    padding:1rem;
    padding-right: 2rem;
   
    
    
    
  
   
    
}



.second_menu_flex a{
    text-decoration: none;
}

.second_menu_flex p:hover{
    text-decoration: underline;
    color:#f5f3f3;
}

.fa-brands{
    color:#070b0d;
}

.fa-brands:hover{
    transform: scale(1.2);
    cursor: pointer;
}



.second_menu_flex p{
    
    color:#f5f3f3;
    font-family: crushed;
    font-size: 1.4rem;
    text-transform: uppercase;
    text-align: center;
}


#copy_right{
    text-align: center;
    color:#f5f3f3;
    text-align: center;
    font-family: noto sans kr;
    position: relative;
    top:4rem;
    font-size: .7rem;
    right: 1rem;
}

/*Footer Code End*/





}


/* Tablets**************************************************/
@media only screen and (min-width:768px) and (max-width:1024px) /*between 768 and 1024*/  {

    
.nina_logo{
    position: relative;
    left:8rem;
    width:12rem;
    bottom:2rem;
    z-index: 3;
 }

 .tooltip{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    left:8rem;
    top: .5srem;

    
}


.shop_article{
   
    width:50rem;
    height:5rem;
    background: #c88989;
    
    position: relative;
    top:7rem;
    filter: drop-shadow(1px 3px 2px #070b0d6f);

}

.shop_article p{
    color:#fdfbfb;
    font-size: 4rem;
}

.img_season{
    cursor: pointer;
    width: 14rem;
    height: 22rem;
    filter: drop-shadow(2px 2px 2px #070b0de1);
}

.season1{
    height: 20.6rem;
}

.season_txt{
    cursor:pointer;
}


.season1:hover{
  
   filter: drop-shadow(2px 2px 2px #985657);
   transition: 150ms;
   
   
}

/********FOOTER CODE************************/

.foot_flex{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   
}




footer{
    
    bottom: 0;
    left: 0;
    right: 0;
    height: auto;
    height: 24rem;
    background-color: #c88989;
    clear: both;
    bottom: 0;
    clear: both;
    position: relative;
    top:8rem;
}



.flex_foot_icons{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap:1.6rem;
    position: relative;
    top:-2rem;
    
}

/*footer form start*/


.lorem_form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   
    
    
}

.signup{
    color:#f5f3f3;
    font-family: crushed;
    font-size: 2rem;
    position: relative;
    top:.4rem;
    letter-spacing: 0.222;
    padding:1rem;
    text-align: center;
    
}

input[type=text]{
    width: 20rem;
    padding:6px ;
    display:inline-block;
    border-radius: .1rem;
    box-sizing: border-box;
    position: relative;
    right:.8rem;
    top:1rem;
    border: none;
    font-size: 1rem;
    
    
}

input[type=submit]{
    cursor: pointer;
    width:5rem;
    height: 1.6rem;
    border:none;
    border-radius: .240rem;
    background-color:#070b0d;
    color:#f5f3f3;
    position: relative;
    bottom:2.5rem;
    left:10rem;
    font-family: noto sans kr;
    font-size: 0.9rem;
    text-transform: uppercase;
    top:-0.6rem;

}


input[type=submit]:hover{
    background-color:#f5f3f3;
    color:#070b0d;

}


/*footer form end*/

.lorem{
    font-family: noto sans kr;
    font-size: .8rem;
    color:#f5f3f3;
    line-height: 1rem;
    width:100%;
    position: relative;
    left:.2rem;
    padding:1rem;
    padding-right: 5rem;
    padding-left: 5rem;
   
    
    
    
  
   
    
}



.second_menu_flex a{
    text-decoration: none;
}

.second_menu_flex p:hover{
    text-decoration: underline;
    color:#f5f3f3;
}

.fa-brands{
    color:#070b0d;
}

.fa-brands:hover{
    transform: scale(1.2);
    cursor: pointer;
}



.second_menu_flex p{
    
    color:#f5f3f3;
    font-family: crushed;
    font-size: 1.4rem;
    text-transform: uppercase;
    text-align: center;
}


#copy_right{
    text-align: center;
    color:#f5f3f3;
    text-align: center;
    font-family: noto sans kr;
    position: relative;
    top:4rem;
    font-size: .7rem;
    right: 1rem;
}









  
}



/*DESKTOP******************************************************************/

@media only screen  and (min-width:1024px) and (max-width:2000px) /*between 1024 and 2000*/ {

body{
    background-color:#f5f3f3;
}

.tooltip{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    left:40rem;
    bottom: 5rem;

    
}

.tooltxt{
    visibility:hidden;
    width:3rem;
    color:#f5f3f3;
    background-color: #070b0d6f;
    text-align: center;
    padding:0.258rem;
    top:1.5rem;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    font-family: noto sans kr;
    font-size: 0.8rem;
}

.tooltip:hover .tooltxt{
    visibility: visible;
}

.tooltxt2{
    visibility:hidden;
    width:3.5rem;
    color:#f5f3f3;
    background-color: #070b0d6f;
    text-align: center;
    padding:0.258rem;
    top:1.5rem;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    font-family: noto sans kr;
    font-size: 0.8rem;
}

.tooltip:hover .tooltxt2{
    visibility: visible;
}

.tooltxt3{
    visibility:hidden;
    width:3rem;
    color:#f5f3f3;
    background-color: #070b0d6f;
    text-align: center;
    padding:0.258rem;
    top:1.5rem;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    font-family: noto sans kr;
    font-size: 0.8rem;
}

.tooltip:hover .tooltxt3{
    visibility: visible;
}


.nina_logo{
    position: relative;
    left:3rem;
    width:12rem;
    bottom:2rem;
    z-index: 3;
 }

 .nina_logo:hover{
    cursor: pointer;
    
 }

 .btn_toggle_nav{
    visibility: hidden;

  
}

body{
  
    width:100%;
    height: 100%;
    margin:0;
    padding:0;
    overflow-x: hidden;
    
}

.nav{
    position: relative;
     visibility: visible;
     
     z-index: 6;
     height: 3rem;
     width:100%;
    
     
 }

.nav ul a{
    color:#070b0d;
}



.nav {
    visibility: visible;
    text-decoration: none;
    color:#c88989;
    font-size: 1.5rem;
    font-family: crushed, Times New Roman, Times, serif;
    padding:.8rem;
    line-height: 2.5rem;
    
    
}

li{
    float: left;
    
}

li a{
	padding-left: .8rem;
    text-decoration: none;
    color:#c88989;
    position: relative;
    top:.5rem;
    left:30rem;
  
}

a{
    padding:1.2rem;
}





.nav a:hover{
   cursor: pointer;
   
   
}

.nav ul li a:hover{
    color:#c88989;
    text-decoration: underline;
  
   
    padding: .4rem;
    border-radius: .2rem;
}

main{
    padding:1.5rem;
}


/*Banner code start******************************************/

.flex_this{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    gap:.5rem;


}


.home_banner{
   
    background-image: url(imgs/homepageimg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat:no-repeat;
    width: 100%;
    height:40rem;
    position: relative;
    top:4rem;
    z-index:5;
 

}


.home_banner_txt1,.home_banner_txt2{
    color:#fdfbfb;
    font-family: crushed, Times New Roman, Times, serif;
    font-size: 7vw;
    filter: drop-shadow(2px 5px 8px #070b0d);
    position: relative;
    top:15rem;
    letter-spacing: 0.1rem;
    right:5rem;
  
    
}



.home_banner_txt2{
    position: relative;
    right:-5rem;
   
  
}


.home_banner_bttn{
    cursor: pointer;
    border:none;
    width: 12vw;
    height:6vh;
    border-radius: 1rem;
    background: #c88989;
    color:#fdfbfb;
    position: relative;
    top:18rem;
    left: 25.5rem;
    font-size:2vw;
    font-family: crushed;
    z-index: 1;
   
    
}



.home_banner_bttn:hover{
    color:#c88989;
    background: #fdfbfb;
}

.season_txt{
    text-align: center;
    color:#f5f3f3;
    font-size: 2.8rem;
    font-family: crushed;
    position: relative;
    bottom:13rem;
    letter-spacing: 0.2rem;
    filter: drop-shadow(2px 2px 2px #070b0d);
}
 






/*Banner code end********************************************/






}








