*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

/*Header code here*/
header{
    background-color: red;
}

/*End Header code*/


.outfit{
    width: 10rem;

}


/*Main stuff code end*/




/*Main stuff code*/






/*Footer Code*/
footer{
    background-color:purple;
}


/*End Footer code*/